

<nav class="navbar navbar-expand-lg" style="background-color: #4c81d2;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Vidhya Darshini</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For Students
          </a>
          <ul class="dropdown-menu  students">
            <li><a class="dropdown-item" href="#"><b>Class 8-9</b></a>
              <div class="class1">
                <p>Stream and Subject Selection</p>
              </div>
              
            </li>

            <li><a class="dropdown-item" href="#"><b>Class 10-12</b></a>
              <div class="class2">
                <p>Career Selection and Planning</p>
              </div>
            </li>

            <li><a class="dropdown-item" href="#"><b>College and Graduates</b></a>
              <div class="class2">
                <p>Superior Guidance</p>
              </div>
            </li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For Institutions
          </a>
          <ul class="dropdown-menu institutions">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled text-white" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Log In</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link " href="/profile"><i class="fa-solid fa-user ms-3" style="font-size: x-large;"></i></a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>